.gallery {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    padding: 140px 0;

&__images {
    height: 438px;
    max-width: 1170px;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    'img1 img1 img2 img3'
    'img1 img1 img4 img5'
    ;}

    &__image-wrapper {
        width: 580px;
        height: 438px;
        background-image: url(/assets/images/gallery1.png);
        background-color:  rgba(44,64,88,1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

&__image1 {grid-area: img1;}
&__image2 {grid-area: img2;}
&__image3 {grid-area: img3;}
&__image4 {grid-area: img4;}
&__image5 {grid-area: img5;}

}