.section-title {
    height: 84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 29px;

    &__separator {
        width: 100px;
        height: 30px;
        border-top: 1px solid $color-secondary;

        &--inverted {
            border-color: $color-primary;
        }
    }

    &__title {
        @include section-title-font;

        &--inverted {
            color: $color-primary;
        }
    }
}